.navBar {
  background-color: LightGray;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.songInfo {
  list-style: none;
}

.formAndPlayList {
  display: flex;
  flex-direction: row;
}

.formForPlayList {
  background-color: DodgerBlue;
  width: 200px;
}

.submitButton {
  background-color: CadetBlue;
}

.songInfo {
  background-color: DodgerBlue;
  margin-left: 50px;
  width: 500px;
}
